*{
    scroll-behavior: smooth;   
}
.About{
    background-color: #27253a;
    /* background-image: url('https://img.freepik.com/free-photo/blue-curve-abstract-background-with-design-space_53876-104767.jpg?size=626&ext=jpg&ga=GA1.1.134294676.1694251365&semt=ais');
    background-repeat: no-repeat;
    background-size: cover; */
}
.skill-heading{
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    padding: 30px;
    color: #fff;
}

@media (max-width: 1040px) {
    .typo{
        margin-left: 10%;
    }
}

@media (max-width: 768px) {
    .typo{
        margin-left: 10%;
    }
}