/*contacts*/

.contacts {
    display: grid;
    align-items: center;
    gap: 3rem;
    padding: 40px;
    padding-top: 70px;
    justify-content: center;
    background-color: #000;
}

.contact-text {
    align-content: center;
}

.contact-text h2 {
    color: #fff;
    font-size: 60px;
    line-height: normal;
}

.contact-text h2 span {
    color: #0ef;
}

.contact-text h3 {
    margin: 15px 0 25px 0;
    color: rgb(228, 228, 228);
    font-size: 25px;
    font-weight: 600;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 25px;
    display: block;
    letter-spacing: 1px;
    color: #fff;
    font-size: 25px;
}

.contact-list .contact-icon {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
    padding: 10px;
    color: #00f; 
}

.contact-icons {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.contact-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 0px 15px 0px 0;
    opacity: 1;
}

.contact-icons a:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
    cursor: pointer;
}

.last-text p {
    width: 100%;
    text-align: center;
    padding: 25px;
    background: black;
    color: #fff;
    font-weight: 400;
    margin-top: 0px;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    left: 1rem;
    display: flex;
    opacity: 0;
    transition: all .4s;
}

.top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.top i {
    color: black;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

.top i:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 200px cyan;
}

* {
    scroll-behavior: smooth;
}
