* {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
  }
  
  .heroo {
    background-color: #000; 
    padding-top: 55px;
    color: #fff;
    position: relative;
    height: 100vh;
  }
  
  .text {
    position: absolute;
    top: 20%;
    left: 10%;
  }
  
  .text .header {
    padding-top: 40px;
    font-size: 2rem;
    font-weight: 550;
    color: #fff;
  }
  
  .text .para {
    width: 60%;
    color: #ccc;
  }
  
  .btn {
    position: absolute;
    top: 50%;
    left: 10%;
    margin-top: 10px;
  }
  
  .btn .contact,
  .btn .download {
    margin-right: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #00A9FF; 
    color: #00A9FF;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }
  
  .btn .contact:hover,
  .btn .download:hover {
    background-color: #00A9FF; 
    color: #000; 
    transform: scale(1.1);
  }
  
  .social-media {
    position: absolute;
    top: 63%;
    left: 10%;
  }
  
  .social-links {
    margin: 10px;
    border: 2px solid #00A9FF; 
    border-radius: 50%;
    padding: 10px;
    background-color: #000; 
    outline: 0;
    color: #00d8ff; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  }
  
  .social-links:hover {
    background-color: #00A9FF; 
    color: #000; 
    
  }
  
  .images img {
    width: 35%;
    height: 70vh;
    margin-left: 50rem;
    margin-top: 5%;
    padding: 10px;
    
  }
  
  @media screen and (max-width: 1040px) {
    .images {
      text-align: center;
    }
  
    .images img {
      width: 65%;
      height: 35vh;
      margin-left: 0;
      margin-top: 10px;
    }
  
    .text {
      position: relative;
      top: auto;
      left: auto;
      text-align: center;
    }
  
    .text .header {
      font-size: 1.5rem;
      font-weight: 600;
      padding-top: 17%;
    }
  
    .text .para {
      width: 80%;
    }
  
    .btn {
      position: relative;
      top: auto;
      left: auto;
      text-align: center;
      margin-top: 20px;
    }
  
    .btn .contact,
    .btn .download {
      margin-right: 10px;
      margin-top: 10px;
    }
  
    .social-media {
      position: relative;
      top: auto;
      left: auto;
      text-align: center;
      margin-top: 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .text .header {
      font-size: 1.2rem;
    }
  
    .text .para {
      width: 90%;
    }
  
    .btn .contact,
    .btn .download {
      padding: 8px;
      font-size: 0.9rem;
    }
  
    .social-links {
      padding: 8px;
    }
  }
  